<header class="page-header inner">
    <div class="container animate-up">
      <a href="/index" class="back">
        <img src="/images/back.svg" alt="" />
      </a>
      <!-- o = significa que ele ira receber uma variavel-->
      <h1><%= title  %> </h1>
      
    </div>
</header>